@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background: #282a36;
   color: #f8f8f2;
}

nav::-webkit-scrollbar {
   display: none;
}

nav {
   scrollbar-width: none;
}
